/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* code from here */
body{
    background-color: black;
    font-family: Raleway;
}

h1{
    font-size: 24px;
    font-weight: 600;
}

h2{
    font-size: 20px;
    color: #c57b57;
    font-weight: bold;
    padding-bottom: 10px;
}

main img{
    width: 324px;
    display: block;
    /* margin-left: auto;
    margin-right: auto; */
    margin: 20px auto;
}

.logo{
    height: 120px;
    width: auto;
}

.dropbtn .fa-solid{
    color: white;
    background-color: black;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropcontent{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #ebebea;
    min-width: 150px;
}

.dropcontent a{
    color: black;
    display: block;
}

nav{
    display: block;
}

nav ul{
    display: flex;
    list-style-type: none;
    padding: auto;
    margin: auto;
}

nav ul li{
    flex: 1;
}


nav a,
nav a:link,
nav a:visited{
    display: inline-block;
    text-decoration: none;
    color: white;
}

nav a:hover,
nav a:focus{
    text-decoration: darkgoldenrod;
}

nav a:active{
    text-decoration: darkorchid;
}

.frontpage{
    background-image: url(../images/home-bg1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 300px;
    width: auto;
}

.frontpage .bg-img{
    backdrop-filter: blur(4px);
    height: 300px;
}

.frontpage p{
    color: white;
    font-size: 24px;
    text-align: center;
    padding-top: 90px;
}

.frontpage p:nth-child(2){
    padding-top: 10px;
}

.home-button p{
    display: inline-block;
    color: white;
    font-size: 18px;
    text-align: center;
    padding: 10px 40px;
    border: 3px solid white;
}

.home-button{
    padding-left: calc(50% - 107px);
    margin-top: 30px;
}

.hours{
    background-color: white;
    padding-bottom: 30px;
}

.text{
    width: 80%;
    padding-left: 10%;
    padding-top: 30px;
}

.three .text p:last-child, .recent-collections .text p:last-child{
    padding-top: 20px;
    text-decoration: underline;
    font-weight: 500;
    font-style: italic;
}

.tickets{
    background-image: url(../images/home-bg2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 240px;
    width: auto;
}

.tickets .bg-img{
    backdrop-filter: blur(4px);
    height: 240px;
}

.tickets h1, .tickets p{
    color: white;
}

.three{
    background-color: #ebebea;
    padding-bottom: 30px;
}

.recent-collections{
    background-color: white;
    padding-bottom: 30px;
}

.visual{
    background-image: url(../images/home-bg3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 150px;
    width: auto;
}

.visual .bg-img{
    backdrop-filter: blur(4px);
    height: 150px;
}

.visual h1{
    text-align: center;
    padding-top: 45px;
}

.visual p{
    text-decoration: underline;
    text-align: center;
    padding-top: 20px;
    font-weight: 500;
    font-style: italic;

}

footer{
    padding-bottom: 30px;
    padding-top: 30px;
}

footer p{
    color: white;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
}

footer .input{
    text-align: center;
}

footer div{
    padding-bottom: 5px;
    padding-top: 5px;
}

button{
    color: black;
    font-size: 12px;
}

.icons{
    padding-top: 10px;
    text-align: center;
    color: white;
}

.icons .fa-brands:nth-child(2){
    padding-left: 25px;
    padding-right: 25px;
}

.copyright{
    font-size: 12px;
}