/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* code from here */
body{
    background-color: black;
    font-family: Raleway;
}

h1{
    font-size: 24px;
    font-weight: 600;
}

h2{
    font-size: 20px;
    color: #c57b57;
    font-weight: bold;
    padding-bottom: 10px;
}

h4{
    color: white;
    padding-right: 10%;
    padding-top: 30px; 
    font-size: 14px;
}


/* make the background image blur so the text can be outstanding */
.bg-img{
        backdrop-filter: blur(6px);
}

/* header starts here */
/* .logopart{
    display: flex;
    flex-direction: row;
} */

.logopart{
    display: grid;
    grid-template-columns: 3;
    grid-template-rows: 1;
}

.logo{
    grid-column: 1 / span 1;
    width: 150px;
    margin: 5px auto 5px 5px;
}

.logopart h4{
    grid-column: 3 / span 1;
    justify-self: end;
}

main img{
    width: 324px;
    display: block;
    margin: 20px auto;
}

/* logo is moving to the right side when hover it */
.logo:hover{
    animation-name: logoMoving;
    animation-duration: 4s;
}

@keyframes logoMoving{
    0%{
        transform: translate(0,0); 
    }
    50%{
        transform: translate(100px,0);
    }
    100%{
        transform: translate(0,0);
    }
}

/* try to add drop-down menu, but it won't work without javascript, so I changed the design */
/* .dropbtn .fa-solid{
    color: white;
    background-color: black;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropcontent{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #ebebea;
    min-width: 150px;
}

.dropcontent a{
    color: black;
    display: block;
} */

/* the header always stay still and above everything else*/
header{
    overflow: hidden;
    position: fixed;
    top: 0;
    background-color: black;
    width: 100%;
    z-index: 1;
}

main{
    margin-top: 160px;
}

nav{
    display: block;
    padding-bottom: 10px;
}

nav ul{
    display: flex;
    list-style-type: none;
    margin: auto;
}

nav ul li{
    flex: 1;
    text-align: center;
}

nav a, nav a:link, nav a:visited{
    display: inline-block;
    text-decoration: none;
    color: white;
}

nav a:hover, nav a:active{
    color: goldenrod;
}

/* home page starts here */
.frontpage{
    background-image: url(../images/home-bg1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 300px;
    width: auto;
}

.frontpage .bg-img{
    height: 300px;
}

.frontpage p{
    color: white;
    font-size: 24px;
    text-align: center;
    padding-top: 90px;
}

/* the heading rotate when hovering */
.frontpage .bg-text:hover{
    transition: transform 1s;
    transform: rotateY(360deg);
}

.frontpage p:nth-child(2){
    padding-top: 10px;
}

.home-button p{
    display: inline-block;
    color: white;
    font-size: 18px;
    text-align: center;
    padding: 10px 40px;
    border: 3px solid white;
}

/* keep the button in the center */
.home-button{
    padding-left: calc(50% - 107px);
    margin-top: 30px;
}

.hours{
    background-color: white;
    padding-bottom: 30px;
}

.text{
    width: 80%;
    padding-left: 10%;
    padding-top: 30px;
}

.hours h1, .tickets h1{
    padding-bottom: 10px;
}

.three .text p:last-child, .recent-collections .text p:last-child{
    padding-top: 20px;
    text-decoration: underline;
    font-weight: 500;
    font-style: italic;
}

.tickets{
    background-image: url(../images/home-bg2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 250px;
    width: auto;
}

.tickets .bg-img{
    height: 250px;
}

.tickets h1, .tickets p{
    color: white;
}

.three{
    background-color: #ebebea;
    padding-bottom: 30px;
}

.recent-collections{
    background-color: white;
    padding-bottom: 30px;
}

.visual{
    background-image: url(../images/home-bg3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 150px;
    width: auto;
}

.visual .bg-img{
    height: 150px;
}

.visual h1{
    text-align: center;
    padding-top: 45px;
}

.visual p{
    text-decoration: underline;
    text-align: center;
    padding-top: 20px;
    font-weight: 500;
    font-style: italic;

}

/* footer starts here */
footer{
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

footer p{
    color: white;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
}

footer .input{
    text-align: center;
    padding-top: 5px;
}

footer div{
    padding-bottom: 5px;
    padding-top: 5px;
}

button{
    color: black;
    font-size: 12px;
}

.icons{
    padding-top: 10px;
    text-align: center;
    color: white;
}

.icons .fa-brands:nth-child(2){
    padding-left: 35px;
    padding-right: 35px;
}

.copyright p{
    font-size: 12px;
}

/* visit page starts here */
.v-tickets{
    background-color: #ebebea;
    color: black;
}

.floorplan{
    background-image: url(../images/visit-bg1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 245px;
    width: auto;
}

.floorplan .bg-img{
    height: 245px;
}

.v-page .services{
    background-color: white;
}

.gifts{
    background-image: url(../images/visit-bg2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 245px;
    width: auto;
}

.gifts .bg-img{
    height: 245px;
}

.gifts .bg-text{
    color: white;
}

.v-page h1{
    padding: 20px 10%;
}

.v-page p{
    width: 80%;
    padding-left: 10%;
    padding-bottom: 15px;
}

/* activity page starts here */

.a-page{
    background-color: #ebebea;
    padding-bottom: 15px;
}

.a-page h1{
    padding-top: 20px;
    padding-left: 10%;
}

.a-page h2{
    padding-left: 10%;
}

.a-page p{
    width: 80%;
    padding-left: 10%;
    padding-bottom: 15px;
}

.a-page p:last-child{
    padding-top: 20px;
    text-decoration: underline;
    font-weight: 500;
    font-style: italic;
}

/* collect page starts here */
.upcoming{
    background-color: #ebebea;
    padding-bottom: 25px;
    padding-top: 25px;
}

.upcoming h1{
    padding-left: 10%;
}

.upcoming p:last-child{
    padding-top: 20px;
    text-decoration: underline;
    font-weight: 500;
    font-style: italic;
}

/* about page starts here */
.about{
    background-image: url(../images/about-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 375px;
    width: auto;
}

.about .bg-img{
    height: 375px;
    backdrop-filter: blur(10px);
}

.about .bg-text{
    color: white;
    width: 80%;
    padding: 25px 10%;
}

.about h1{
    padding-bottom: 25px;
}


/* media query starts here */
@media screen and (min-width: 1200px){

    /* home page starts here */
    .logo{
        width: 200px;
        /* padding-left: calc(50% - 100px); */
    }

    .frontpage{
        height: 650px;
    }

    .frontpage .bg-img{
        height: 650px;
    }

    .frontpage .bg-text{
        padding-top: 200px;
    }

    .frontpage .bg-text p{
        font-size: 44px;
    }
    
    .text{
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .tickets{
        height: 320px;
    }
    
    .tickets .bg-img{
        height: 320px;
    }

    .three{
        display: flex;
        flex-direction: row;
    }

    .services .text{
        padding-top: 60px;
    }
    
    .recent-collections{
        display: flex;
        flex-direction: row;
    }

    .container .collect2{
        padding-top: 20px;
    }
    .visual{
        height: 250px;
    }
    
    .visual .bg-img{
        height: 250px;
    }
    
    .visual h1{
        font-size: 45px;
        padding-top: 90px;
    }
    
    /* footer starts here */


    footer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 150px;
    }
    
    footer p{
        font-size: 14px;
        text-align: center;
        padding-bottom: 5px;
        padding-top: 5px;
    }
    
    footer div{
        padding-bottom: 15px;
        padding-top: 15px;
    }
    
    button{
        font-size: 14px;
    }
    
    .icons{
        font-size: 20px;
        padding-top: 30px;
    }
    
    .icons .fa-brands:nth-child(2){
        padding-left: 55px;
        padding-right: 55px;
    }

    /* visit page starts here */
    .v-tickets{
        height: 220px;
        padding-top: 60px;
    }

    .floorplan .bg-text{
        padding-top: 50px;
    }

    .services{
        height: 220px;
        padding-top: 40px;
    }

    .gifts .bg-text{
        padding-top: 40px;
    }

    /* activity page starts here */
    .activities{
        display: flex;
    }

    .a-page{
        padding-top: 75px;
        padding-bottom: 50px;
    }
  
   .a-page h1{
       display: none;
   }

   .a-page img{
       width: 70%;
   }

   /* collect page starts here */
   .collect2{
       padding-top: 0px;
   }

   .upcomings{
       display: flex;
       flex-direction: row;
   }

   .c-page h1{
       display: none;
   }

   /* about page starts here */
   .about .bg-text{
       padding-top: 100px;
   }

}